<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/layouts/head :: head}">
</head>
<style>
@media (min-width: 576px){
	.modal-dialog {
	    max-width: 90%;
	    margin: 1.75rem auto;
	}
}
 .modal-body {
    	padding: 0.25rem;
    }
</style>
<body>
	<div class="page">
		<!-- Main Navbar-->
		<header th:replace="~{admin/layouts/header :: header}"> </header>            
		<div class="page-content d-flex align-items-stretch">
			<!-- Side Navbar -->
            <nav th:replace="~{admin/layouts/side-navbar :: side-navbar}"></nav>
			<div class="content-inner">
				<!-- Page Header-->
				<header class="page-header">
					<div class="container-fluid">
						<h2 class="no-margin-bottom">Chủ đề</h2>
					</div>
				</header>
				<!-- Breadcrumb-->
				<div class="breadcrumb-holder container-fluid">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/admin/}">Trang
								chủ</a></li>
						<li class="breadcrumb-item active color">Quản lý bộ câu hỏi kiểm tra</li>
					</ul>
				</div>
				<section class="tables">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header d-flex align-items-center">
										<h3 class="h4">Danh sách các câu hỏi</h3>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<div class="box-search">
												<div class="form-group has-search col-lg-6 float-left">
													<select class="form-control" id="status">
														<option value="">Trạng thái</option>
														<option value="1">Hiển thị</option>
														<option value="0">Không hiện thị</option>
													</select>
												</div>
												<div class="form-group has-search col-lg-6 float-left">
													<span class="fa fa-search form-control-feedback"></span> <input
														type="text" class="form-control"
														placeholder="Tìm kiếm theo câu hỏi ..." id="input-name">
												</div>
												<div class="button-search">
													<button id="btn-reset" class="btn-reset">
														<span class="fa fa-sync mr5px"></span>Tạo lại
													</button>
													<button id="btn-search" class="btn-search">
														<span class="fa fa-search mr5px"></span>Tìm kiếm
													</button>
												</div>
											</div>
											<table class="table table-hover table-bordered"
												id="tbl-profiles">
												<thead>
													<tr>
														<th class="text-center " style="width:20%">Câu hỏi</th>
														<th class="text-center  "style="width:13%">Đáp án A</th>
														<th class="text-center  "style="width:13%">Đáp án B </th>
														<th class="text-center  "style="width:13%">Đáp án C</th>
														<th class="text-center  "style="width:13%">Đáp án D</th>
														<th class="text-center " style="width:8%">Đáp án đúng </th>
														<th class="text-center ">Ưu tiên </th>
														<th class="text-center ">Hành động</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</section>
				<!-- Page Footer-->
                <footer th:replace="~{admin/layouts/footer :: footer}"> </footer>
				<div class="modal fade" id="modal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document" style="height: 600px; overflow-y: auto">
						<div class="modal-content">
							<div class="modal-header text-center">
								<h4 class="modal-title w-100 font-weight-bold" id="modal-title">Thêm mới thuộc tính</h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<input type="hidden" id="test-id"/>
							<div class="modal-body mx-3">
								<div class="md-form mb-3">
									<label data-error="wrong" data-success="right"
										for="defaultForm">Câu hỏi<span
										class="text-danger ml-1">*</span></label> 
									<textarea rows="" cols="" id="question"></textarea>
								</div>
								<div class="md-form mb-3">
									<label data-error="wrong" data-success="right"
										for="defaultForm">Đáp án A<span
										class="text-danger ml-1">*</span></label> <input type="text"
										id="answer_A" class="form-control">
								</div>
								<div class="md-form mb-3">
									<label data-error="wrong" data-success="right"
										for="defaultForm">Đáp án B<span
										class="text-danger ml-1">*</span></label> <input type="text"
										id="answer_B" class="form-control">
								</div>
								<div class="md-form mb-3">
									<label data-error="wrong" data-success="right"
										for="defaultForm">Đáp án C<span
										class="text-danger ml-1">*</span></label> <input type="text"
										id="answer_C" class="form-control">
								</div>
								<div class="md-form mb-3">
									<label data-error="wrong" data-success="right"
										for="defaultForm">Đáp án D<span
										class="text-danger ml-1">*</span></label> <input type="text"
										id="answer_D" class="form-control">
								</div>

								<div class="md-form mb-3">
									<label data-error="wrong" data-success="right"
										for="defaultForm-pass">Đáp án đúng<span
										class="text-danger ml-1">*</span></label>
									<select class="form-control" id="answer_true">
										<option value="A">Đáp án A</option>
										<option value="B">Đáp án B</option>
										<option value="C">Đáp án C</option>
										<option value="D">Đáp án D</option>
									</select>
								</div>
							</div>
							<div class="modal-footer d-flex justify-content-center">
								<div id="button-add">
									<button class="btn btn-danger btn-custom" id="btn-reset-modal-add">Hủy</button>
									<button class="btn btn-success btn-custom" id="btn-add">Thêm mới</button>
								</div>
								<div id="button-edit" style="display:none">
									<button class="btn btn-danger btn-custom" id="btn-reset-modal-edit">Hủy</button>
									<button class="btn btn-success btn-custom" id="btn-edit">Lưu thay đổi</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/admin/ajax/test.js}"></script>

</body>

</html>