<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{client/layouts/head :: head}">
</head>
<style>
div {
	position: unset;
}

.newsletter_background {
	position: unset;
}

.form-check-label {
	color: black;
	padding-left: 0
}
.text-red {
	color: red;
}
</style>
<body>
	<!-- Main Navbar-->
	<header th:replace="~{client/layouts/header :: header}"> </header>
    <div th:replace="~{client/layouts/menu :: menu}"></div>
	<!-- register -->

	<div class="register ">


		<!-- register Info -->

		<div class="register_info_container">
			<div class="container">
				<div class="row">

					<!-- register Form -->
					<div class="col-12">
						<div class="register_form ">
							<div class="register_info_title text-center">Thay đổi mật khẩu</div>
							<div class="clearfix"></div>
							<div class="col-lg-6 offset-lg-3 float-left">
								<div class="form_title">Mật khẩu hiện tại <span class="text-red">*</span></div>
								<input type="password" class="comment_input" id="current_password"
									name="current_password">
							</div>
							<div class="col-lg-6 offset-lg-3 float-left pt-2">
								<div class="form_title">Mật khẩu mới<span class="text-red">*</span></div>
								<input type="password" class="comment_input" id="password"
									name="password">
							</div>
							<div class="col-lg-6 offset-lg-3 float-left pt-2">
								<div class="form_title">Xác nhận mật khẩu<span class="text-red">*</span></div>
								<input type="password" class="comment_input" id="repassword"
									name="repassword">
							</div>
							<div class="clearfix"></div>
							<div class="col-xs-12 flont-none text-center">
								<button type="reset" class="btn-reset trans_200">Tạo
									lại</button>
								<button id="btn-edit-password" class="btn-register trans_200">Thay đổi mật khẩu</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{client/layouts/loading :: loading}"> </div>
	<!-- Page Footer-->
    <footer th:replace="~{client/layouts/footer :: footer}"> </footer>
</body>

</html>