<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="/admin/layouts/head :: head"></head>
   <style>
      .card-custom {
      width: 99%;
      margin: 20px auto;	
      }
      .col-lg-6 {
      	width: 49%
      }
   </style>
   	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js}"></script>
   <body>
      <div class="page">
         <!-- Main Navbar-->
         <header th:replace="/admin/layouts/header :: header">
         </header>
         <input type="hidden" th:value="${course.id}" id="course_id">
         <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav th:replace="/admin/layouts/side-navbar :: side-navbar">
            </nav>
            <div class="content-inner">
               <!-- Page Header-->
               <header class="page-header">
                  <div class="container-fluid">
                     <h2 class="no-margin-bottom">Khóa học: <span th:text="${course.name}"></span></h2>
                  </div>
               </header>
               <!-- Dashboard Counts Section-->
               <section class="dashboard-counts no-padding-bottom">
                  <div class="container-fluid">
                     <div class="row bg-white has-shadow">
                        <!-- Item -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="item d-flex align-items-center">
                              <div class="icon bg-violet"><i class="icon-user"></i></div>
                              <div class="title"><span> Sinh viên <br>tham gia</span></div>
                              <div class="number"><strong th:text="${countStudent}"></strong></div>
                           </div>
                        </div>
                        <!-- Item -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="item d-flex align-items-center">
                              <div class="icon bg-red"><i class="icon-user"></i></div>
                              <div class="title"><span>Bài <br>giảng</span></div>
                              <div class="number"><strong th:text="${countLesson}"></strong></div>
                           </div>
                        </div>
                        <!-- Item -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="item d-flex align-items-center">
                              <div class="icon bg-green"><i class="fa fa-book"></i></div>
                              <div class="title"><span>Bộ tiêu chí<br> ICT</span></div>
                              <div class="number"><strong th:text="${avg_ict}"></strong></div>
                           </div>
                        </div>
                        <!-- Item -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="item d-flex align-items-center">
                              <div class="icon bg-orange"><i class="fa fa-bookmark"></i></div>
                              <div class="title"><span>Bộ tiêu chí<br> Hust</span>
                              </div>
                              <div class="number"><strong th:text="${avg_hust}"></strong></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
                <div class="card card-custom ">
                 <h5 class="card-header h5">Đánh giá khóa học theo bộ tiêu chí ICT</h5>
                 <div class="card-body">
                    <canvas id="evaluate_ict" width="400" height="100"></canvas>
                 </div>
               </div>
                <div class="card card-custom ">
                 <h5 class="card-header h5">Đánh giá khóa học theo bộ tiêu chí đại học Bách Khoa Hà Nội</h5>
                 <div class="card-body">
                    <canvas id="evaluate_hust" width="400" height="100"></canvas>
                 </div>
               </div>
               <!-- Page Footer-->
              <footer th:replace="/admin/layouts/footer :: footer"></footer>
            </div>
         </div>
      </div>
      <script th:src="@{/admin/ajax/statistic-detail.js}"></script>
      
   </body>
</html>